* {
    margin: 10;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f4f6;
}


.navbar {
    width: 100%;
    background: #ffffff;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dropdown{
    width: 10%;
    background: #ffffff;
    padding: 2px 2px;
    display: flex;
    justify-content: space-between;
    
   
}

.search {
    padding: 8px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


.container {
    display: flex;
    margin-top: 10px;
}

.dropdown{
    width: 100%;
    background: #ffffff;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.sidebar {
    width: 200px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    height: calc(100vh - 80px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sidebar ul li {
    list-style: none;
    padding: 12px 0;
    cursor: pointer;
}


.main-content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
}


.card {
    background: #22b7d4;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.button {
    padding: 8px;
    width: 250px;
    
    border: 2px solid #96e9f8;
    background:#96e9f8
}

.button1 {
    padding: 8px;
    width: 250px;
    border-radius: 15px;
    border: 2px solid #96e9f8;
    background:yellow;
}


.card-img {
    width: 100%;
    height: 120px;
    background: #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}
